@keyframes showUp {
  from {
    border-color: #8ed962;
    background-color: #b8ed8c;
  }
  to {
    border-color: #6271d9;
    background-color: #8c99ed;
  }
}

@media (max-width: 768px) {
  #iframe {
    width: 100vw;
    margin-left: -24px;
    margin-right: -24px;
    height: 80svh;
  }
}